@import './reset.scss';
@import './utility.scss';

::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: $theme-color;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: #facf86;
    border-radius: 5px;
}

main {
    padding: 1rem;
}