$base-menu-width: 15%;
$base-menu-min-width: 5%;
$base-menu-fixed-width: 60px;

$base-tabbar-height: 100px;
$base-tabbar-min-height: 80px;

$base-menu-logo-height: 50px;

$base-logo-title-fontSize: 20px;

$primary-button: #79bbff;

$theme-color: #fff6e7;